---
import Card from '../components/Card.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
  <div class='flex flex-col items-center justify-center min-h-screen'>
    <div
      class='w-3/4 p-8 bg-white rounded-lg shadow-md hero-component lg:w-1/2'
    >
      <div
        class='flex items-center justify-center p-4 mb-8 bg-gray-200 rounded'
      >
        <h1 class='text-xl font-semibold'>Astro Starter</h1>
      </div>
      <div class='flex justify-around'>
        <Card title='Astro' href='https://astro.build' />
        <Card title='Tailwind' href='https://tailwindcss.com' />
        <Card title='Antfu' href='https://github.com/antfu/eslint-config' />
      </div>
    </div>
  </div>
</Layout>
